/* THEME STYLES */

// Font import
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
// Normalize
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Noto Sans", sans-serif !important;
}

// Theme Colors
$black: #464646;
$gray-1: #EFEFEF;
$gray-2: #CBCBCB;
$gray-3: #4E4F50;
$white: #ffffff;
$violet: #8A38F5;
$dark-violet: #681DC9;
$light-violet: #9C73FF;
$green: #2ADD98;
// Buttons
@mixin button($variant: primary) {
    box-sizing: border-box;
    font-weight: bold;
    text-decoration: none;
    padding: 0 15px;
    height: 35px;
    border-radius: 5px;
    font-family: "Noto Sans", sans-serif;
    display: inline-block;
    align-content: center;
    ;
    &:focus {
        box-shadow: none;
    }
    &:hover {
        background-color: $dark-violet;
    }
    &:active {
        transform: scale(.95);
    }
    @if $variant==primary {
        background-color: $violet;
        color: white;
        border: none;
    }
    @if $variant==secondary {
        background-color: transparent;
        color: $gray-3;
        border: 1px solid $violet;
        &:hover {
            background-color: $gray-1;
        }
    }
}

// General Styles
#page-course-view-grid {
    h1,
    h2,
    h3 {
        font-family: "Noto Sans", sans-serif;
    }
    #page-content {
        max-width: 1000px;
        margin: auto;
        .btn-primary {
            @include button(primary);
        }
        .btn-secondary {
            @include button(secondary);
        }
        li.section {
            .content {
                h3 {
                    font-family: "Noto Sans", sans-serif;
                    font-weight: bold;
                    color: $violet;
                    font-size: 2.5rem;
                    margin-bottom: 1.5rem;
                }
                .editor-indent,
                .quote {
                    border-left: 5px solid $violet;
                    margin-left: 0 !important;
                    padding: .75rem 0 .75rem 1.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
        // Tarjetas modulos
        .thegrid {
            .grid-section.card {
                width: 280px;
                height: 300px;
                a.grid-section-inner {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    .card-header.text-truncate {
                        order: 2;
                        overflow: initial;
                        text-overflow: initial;
                        white-space: normal;
                        height: 100%;
                        font-size: 1.5rem;
                        font-weight: bold;
                        line-height: 120%;
                        color: $gray-3;
                        padding: 2rem 1.5rem;
                    }
                    .grid-image,
                    .grid-generatedimage {
                        order: 1;
                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}