/* THEME STYLES */

// Font import
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
// Normalize
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Noto Sans", sans-serif !important;
}

// Theme Colors
$black: #464646;
$gray-1: #EFEFEF;
$gray-2: #CBCBCB;
$white: #ffffff;
$violet: #8A38F5;
$green: #2ADD98;